body {
    background-color: rgb(67, 94, 247);
    color: white;
}

li {
    list-style-type: none;
    margin: 20px;
}

ul {
    text-align: center;
}

img{
	width: 200px;
	height: 200px;
}

h1, h2, button, #country-name{
	text-align: center;
}

#search{
    width: 200px;
    height: 70px;
	background-color: black;
	color: white;
	font-size: 20px;
	border: none;

}

#country-name{
	width: 200px;
	height: 50px;
}


.text{
	background-color: rgb(255, 255, 255);
}

.name{
	color: rgb(255, 255, 255);
	position: absolute;
	margin-top: -120px;
	left: 220px;
	font-size: 60px;
}